<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/register.css" rel="stylesheet" type="text/css" media="all" />
<link href="/table_show.css" rel="stylesheet" type="text/css" media="all" />

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="/profile">DS<strong>I</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile"><i class="far fa-calendar-alt"></i>profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile/logout"><i class="far fa-copy"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="warpper1">
        <div class="main-agileinfo3" style="padding: 1em;">
            <% if( success_msg!=''){ %>
				<div class="msg">
				   <%=success_msg%>
				  </div>
				<% } %>   
				<% if( error_msg!=''){ %>
					<div class="msg2">
					   <%=error_msg%>
					  </div>
					<% } %> 
			<% if(typeof message!='undefined'){ %>
				<div class="msg2">
				   <%=message %>
				  </div>
				<% } %> 
        <h1>Class_8</h1>
        <div class="agileits-top3">
        <form id="student_create" action="/profile/student_management/class_8/create_new" method="post" autocomplete="off">
            <input value="CREATE NEW STUDENT" type="submit" />
        </form>
        </div>

    </div>
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <div class="tabs">
        <label class="tab" id="one-tab" for="one">Student List</label>
        <label class="tab" id="two-tab" for="two">Details</label>
          </div>
        <div class="panels">
        <div class="panel" id="one-panel">

                    <h1>STUDENT LIST IN CLASS 8</h1>
                    <table id="contesttable">
                        <tr>
                          <th>FullName</th>
                          <th>Average Marks</th>
                          <th>Taught Days</th>
                          <th>Earnings</th>
                          <th>Subjects</th>
                          <th>Edit Link</th>
                          <th>Delete Link</th>
                        </tr>
                        
                        <% 
                        if ( typeof student_list!='undefined') {
                            
                            for(var i=0;i<student_list.length;i++) {
                              %>
                        <tr class="tr_running">
                            <td><%=student_list[i].fullname%></td>
                            <td><%=student_list[i].average_marks%></td>
                            <td><%=student_list[i].taught_days%></td>
                            <td><%=student_list[i].earnings%></td>
                            <% var sub=""; 
                            for(var j=0;j<student_list[i].subjects.length;j++)
                            {
                                sub+=student_list[i].subjects[j]+" ";
                                console.log(sub);
                            }
                            %>
                            
                            <td><%=sub%></td>
                            <td> <form id="myform6" action="/profile/student_management/class_8/<%=student_list[i].username%>/edit" method="post">
                                <input type="submit" value="Edit">
                               </form> 
                            </td>
                            <td> <form id="myform6" action="/profile/student_management/class_8/<%=student_list[i].username%>/delete" method="post">
                                <input type="submit" value="Delete">
                               </form> 
                            </td>

                          </tr>
                          <%
                        }
                    }
                          %>
                    </table>



      
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
        </ul>
     
    </div>

    
    
    <script>

        // ---------Responsive-navbar-active-animation-----------
function test(){
  var tabsNewAnim = $('#navbarSupportedContent');
  var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
  var activeItemNewAnim = tabsNewAnim.find('.active');
  var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
  var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
  var itemPosNewAnimTop = activeItemNewAnim.position();
  var itemPosNewAnimLeft = activeItemNewAnim.position();
  $(".hori-selector").css({
    "top":itemPosNewAnimTop.top + "px", 
    "left":itemPosNewAnimLeft.left + "px",
    "height": activeWidthNewAnimHeight + "px",
    "width": activeWidthNewAnimWidth + "px"
  });
  $("#navbarSupportedContent").on("click","li",function(e){
    $('#navbarSupportedContent ul li').removeClass("active");
    $(this).addClass('active');
    var activeWidthNewAnimHeight = $(this).innerHeight();
    var activeWidthNewAnimWidth = $(this).innerWidth();
    var itemPosNewAnimTop = $(this).position();
    var itemPosNewAnimLeft = $(this).position();
    $(".hori-selector").css({
      "top":itemPosNewAnimTop.top + "px", 
      "left":itemPosNewAnimLeft.left + "px",
      "height": activeWidthNewAnimHeight + "px",
      "width": activeWidthNewAnimWidth + "px"
    });
  });
}
$(document).ready(function(){
  setTimeout(function(){ test(); });
});
$(window).on('resize', function(){
  setTimeout(function(){ test(); }, 500);
});
$(".navbar-toggler").click(function(){
  setTimeout(function(){ test(); });
});
    </script>
    
</body>
</html>
