<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Sign Up from</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="register.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-mainbg">
		<a class="navbar-brand navbar-logo" href="/">Node<strong>Demo</strong></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <i class="fas fa-bars text-white"></i>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto">
				  <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
				  <li class="nav-item">
					  <a class="nav-link " href="/"><i class="fas fa-tachometer-alt"></i>Home</a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="/register"><i class="far fa-copy"></i>SIGN UP</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/login"><i class="far fa-copy"></i>LOGIN</a>
				  </li>
			  </ul>
		  </div>
	  </nav>

	<div class="main-w3layouts wrapper">
		<div class="main-agileinfo">
			<h1>Sign up Form</h1>
			<div class="agileits-top">
		  <form id="myform" action="/register" method="post" autocomplete="off">
          <input class="text" type="text" name="fullname" placeholder="Fullname" required="" value="<%= typeof fullname!='undefined' ? fullname : ''%>">
		 <% 
		 if(typeof fullNameError!='undefined'){ %>
		  <div class ="text-danger msg1">
            <%=fullNameError %>
		  </div>
		  <%
		}
		  %>
          <input class="text" type="text" name="username" placeholder="Username" required="" value="<%= typeof username!='undefined' ? username : '' %>">
		  <% 
		 if(typeof userNameError!='undefined'){ %>
		  <div class ="text-danger msg1">
            <%=userNameError %>
		  </div>
		  <%
		
	      }
		  %>
          <input class="text email" type="email" name="email" placeholder="Email" required="" value="<%= typeof email!='undefined'? email : '' %>">
		  <% 
		  
		  if(typeof emailError!='undefined'){   
			%>
		   <div class ="text-danger msg1">
			 <%=emailError %>
		   </div>
		   <%
		 }
		   %>
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="conpassword" placeholder="Confirm Password" required="">
					<% 
				
					if(typeof passwordError!='undefined'){ %>
					 <div class ="text-danger msg1">
					   <%=passwordError %>
					
					 </div>
					 <%
				   
				}
					 %>
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGN UP">
                  </form>
				<p>Already have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
<script>
// ---------Responsive-navbar-active-animation-----------
function test(){
var tabsNewAnim = $('#navbarSupportedContent');
var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
var activeItemNewAnim = tabsNewAnim.find('.active');
var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
var itemPosNewAnimTop = activeItemNewAnim.position();
var itemPosNewAnimLeft = activeItemNewAnim.position();
$(".hori-selector").css({
"top":itemPosNewAnimTop.top + "px", 
"left":itemPosNewAnimLeft.left + "px",
"height": activeWidthNewAnimHeight + "px",
"width": activeWidthNewAnimWidth + "px"
});
$("#navbarSupportedContent").on("click","li",function(e){
$('#navbarSupportedContent ul li').removeClass("active");
$(this).addClass('active');
var activeWidthNewAnimHeight = $(this).innerHeight();
var activeWidthNewAnimWidth = $(this).innerWidth();
var itemPosNewAnimTop = $(this).position();
var itemPosNewAnimLeft = $(this).position();
$(".hori-selector").css({
"top":itemPosNewAnimTop.top + "px", 
"left":itemPosNewAnimLeft.left + "px",
"height": activeWidthNewAnimHeight + "px",
"width": activeWidthNewAnimWidth + "px"
});
});
}
$(document).ready(function(){
setTimeout(function(){ test(); });
});
$(window).on('resize', function(){
setTimeout(function(){ test(); }, 500);
});
$(".navbar-toggler").click(function(){
setTimeout(function(){ test(); });
});
</script>
</body>
</html>
